ion-title{
    text-align: center;
    background-color: blueviolet;
    color: aliceblue;
}

ion-col{
    border-color: black;
    border: solid 1px;
    background-color: aquamarine;
    text-align: center;
}